@import 'normalize';

$color-m1: rgb(20,20,20);
$color-m1-a: rgba(20,20,20,0.7);
$color-m4: rgb(240,240,240);
$color-green: rgb(25,161,19);
$color-green-a: rgba(25,161,19,0.6);
$color-green-light: rgba(0,220,0,1);
$font-m: 'Ubuntu', sans-serif;

body{
    background-color: $color-green;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: $font-m;
}
button, select, option{
    font-family: $font-m;
}
.header{
    min-height: 80px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: $color-m1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-m4;
    &__heading{
        margin: 0;
        padding: 0;
    }
    &__link{
        text-decoration: none;
        color: $color-green;
        transition: 0.3s;
        &:focus, &:hover{
            color: $color-m4;
        }
    }
}
.start-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.rules{
    box-sizing: border-box;
    padding: 15px 15px;
    background-color: $color-m1-a;
    color: $color-m4;
    margin: 20px 0;
    &__heading{
        font-size: 26px;
        margin: 0;
    }
    &__paragraph{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: rgba(240,240,240,0.9);
    }
}
.btn_start, .select-map{
    background-color: transparent;
    border: 1px solid $color-green;
    color: $color-m4;
    padding: 7px;
    box-sizing: border-box;
    min-height: 30px;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px;
    cursor: pointer;
    &:hover, &:focus{
        border: 1px solid $color-m4;
    }
}
.select-map{
    -webkit-appearance: none;
    -moz-appearance: none;
    option{
        background-color: $color-m1;
    }
}
.footer{
    min-height: 40px;
    padding: 0 10px;
    margin-top: 30px;
    background-color: $color-m1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__paragraph_info{
        color: $color-m4;
        font-size: 12px;
    }
}
.game{
    &-container{
        padding: 85px 20px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-panel{
        display: flex;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        min-height: 80px;
        width: 100%;
        flex-direction: column;
        background-color: $color-m1;
        color: $color-m4;
        justify-content: center;
        align-items: center;
    }
    &-stats{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    &-country{
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
        &_correct{
            color: $color-green-light;
        }
        &_wrong{
            color: red;
        }
    }
    &-map-container{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
    }
    &-map{
        width: 90%;
        height: auto;
    }
}
@keyframes fly-away {
    0%{}
    100%{opacity: 0; transform: translateY(-40px);}
}
.flying-point{
    animation: fly-away;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    cursor: default;
    &_plus{
        color: $color-green-light;
    }
    &_plus-plus{
        color: $color-green-light;
        font-size: 18px;
    }
    &_minus{
        color: red;
    }
}

.time{
    color: red;
    &_good{
        color: $color-green-light;
    }
    &_enough{
        color: orange;
    }
}
.map-item{
    transition: 0.2s;
    &:hover{
        stroke: rgb(40,40,40);
        fill: #444;
    }
    &_correct{
        fill: #242;
        stroke: white;
        &:hover{
            stroke: white;
            fill: #242;
        }
    }
    &_wrong{
        fill: #800;
        &:hover{
            fill: #800;
        }
    }
    &_inactive{
        opacity: 0.2;
    }
}
.win-board{
    position: fixed;
    height: calc(100vh - 160px);
    width: 80vw;
    top: calc(100px);
    left: 10vw;
    overflow: scroll;
    color: white;
    background-color: rgba(0,0,0,1);
    border: 1px solid rgba(250,250,250,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    z-index: 110;
    &__btn_close, &__btn_reset{
        background-color: transparent;
        color: $color-m4;
        border: 1px solid $color-m4;
        border-radius: 0;
        padding: 5px;
        font-size: 14px;
        box-sizing: border-box;
        display: flex;
        min-height: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover, &:focus{
            border: 1px solid $color-green;
        }
    }
    &__btn_close{
        align-self: flex-end;
    }
    &__btn_reset{
        margin: 10px;
    }
    &__btns-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.btn_restart, .btn_back{
    padding: 7px;
    font-size: 18px;
    color: $color-m4;
    border: 1px solid $color-green;
    margin-top: 20px;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
    &:hover, &:focus{
        border: 1px solid $color-m4;
    }
}
.btn_win-board{
    background-color: $color-m1-a;
    color: $color-m4;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 7px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    &:hover, &:focus{
        background-color: $color-m1;
    }
}
.btn_back{
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 4px;
    font-size: 14px;
    margin: 0;
}
.map-results{
    background-color: rgba(0,0,0,0.2);
    color: $color-m4;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 4px rgba(250,250,250,0.2);
}
.best-result-value{
    font-weight: bold;
    color: $color-green;
}
.result-list{
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    &-item{
        border: 1px solid $color-green-a;
        padding: 5px;
        margin: 4px;
    }
}
.usa{
    width: 100%;
}
.europe{
    width: 100%;
    margin: 0 auto;
    stroke-width: .2;
}
.asia{
    width: 100%;
    margin: 0 auto;
    stroke-width: .3;
}
.poland{
    margin: 0 auto;
    width: 40%;
}
.africa{
    margin: 0 auto;
    width: 60%;
}
.america_s{
    margin: 0 auto;
    width: 30%;
}
.america_n{
    stroke-width: .4;
    margin: 0 auto;
    width: 100%;
}
.america_m{
    width: 70%;
    margin: 0 auto;
    stroke-width: .2;
}
.hidden{
    display: none;
}
@media (max-width: 1300px) {
    .africa{
        width: 90%;
    }
    .poland, .america_s{
        width: 50%;
    }
}
@media (max-width: 1100px) {
    .africa{
        width: 95%;
    }
    .poland, .america_s{
        width: 60%;
    }
    .america_n{
        transform-origin: 50% 0;
        transform: translate(-10%, -10%) scale(1.1);
    }
    .america_m{
        width: 100%;
    }
    .usa{
        transform-origin: 50% 40%;
        transform: translate(-10%, 5%) scale(1.15);
    }
}
@media (max-width: 800px) {
    .africa{
        width: 100%;
    }
    .poland, .america_s{
        width: 80%;
    }
    .america_n{
        transform: translate(-10%, -15%) scale(1.25);
    }
}
@media (max-width: 560px) {
    .game{
        &-stats{
            flex-direction: column;
            align-items: center;
            font-size: 14px;
        }
        &-map{
            width: 100%;
        }
    }
}
